.header {
  @include font(14px, 500, 16px, 0.02em);
  border-bottom: 1px solid #ececec;
}

.header__container {
  @include flexAlign(flex-start);
}

.nav {
  @include flexAlign(flex-start);
}

.nav__list {
  display: none;

  @include media(768px) {
    @include flexAlign(flex-start);
  }
}

.nav__item {
  & + & {
    margin-left: 50px;
  }
}

.nav__link {
  position: relative;
  transition: color $timing $timing-function;

  padding-top: 32px;
  padding-bottom: 32px;

  color: $nav-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &.current::after {
    position: absolute;
    left: 0;
    bottom: 0;
    transition: background-color $timing $timing-function;

    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: $accent-color;
  }
}

.header-contact {
  margin-left: auto;
  display: none;

  @include media(768px) {
    display: flex;
    flex-direction: column;
  }

  @include media(1200px) {
    @include flexAlign(flex-start);
    flex-direction: row;
  }
}

.header-contact__item:not(:first-child) {
  @include media(768px) {
    margin-top: 10px;
  }
  @include media(1200px) {
    margin-top: 0;
    margin-left: 30px;
  }
}

.header-contact__link {
  transition: color $timing $timing-function;

  @include flexAlign(flex-start);
  @include media(1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  color: $header-contact-color;

  @media screen and (max-width: 1199px) {
    @include font(12px, 500, 14px, 0.02em);
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header-contact__icon-envelope {
  @media screen and (max-width: 1199px) {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }

  margin-right: 10px;
  fill: currentColor;
}

.header-contact__icon-smartphone {
  @media screen and (max-width: 1199px) {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }

  margin-right: 10px;
  fill: currentColor;
}

.current {
  color: $accent-color;
}

.menu-open-btn,
.menu-close-btn {
  display: block;
  width: 40px;
  height: 40px;
  margin-left: auto;

  @include flexAlign(center);
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: color $timing $timing-function;
  background-color: $white-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.menu-open-btn {
  @include media(768px) {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  z-index: 1;
  background-color: $white-color;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  top: 0;
  left: 0;
  padding-top: 10px;
  padding-bottom: 47px;

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.mob-menu-top,
.mob-menu-bottom {
  padding-left: 25px;
}

.mob-menu__link {
  @include font(40px, 500, 47px, 0.02em);
  color: $nav-text-color;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.mob-menu__item + .mob-menu__item {
  margin-top: 32px;
}

.mob-contact__email {
  margin-top: 32px;
}

.mob-contact__tel-link {
  @include font(34px, 500, 40px, 0.02em);
  color: $accent-color;
  cursor: pointer;
  margin-bottom: 32px;
}

.mob-contact__email-link {
  @include font(24px, 500, 28px, 0.02em);
  color: $header-contact-color;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.mob-soc__list {
  display: flex;
  margin-top: 65px;
}

.mob-soc__item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  margin-right: 10px;
}

.mob-soc__link {
  @include font(18px, 500, 22px, 0.02em);
  color: $accent-color;
}
