.work {
  padding-top: 0;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.work__title {
  @extend %title;
}

.work__list {
  @include flexWrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.work__item {
  position: relative;

  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.work__text {
  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;

  @include font(14px, 700, 16px, null);
  text-align: center;
  text-transform: uppercase;

  color: $white-color;
  background-color: rgba(47, 48, 58, 0.8);
}
