.button {
  transition: background-color $timing $timing-function;

  padding: 10px 32px;
  min-width: 200px;

  font-family: inherit;
  @include font(16px, 700, 30px, 0.06em);
  cursor: pointer;

  color: $first-btn-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  &:hover,
  &:focus {
    background-color: $hero-btn-hover-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
  }
}

.button__hero {
  display: inline-block;
  @extend .button;
}

.button__footer {
  @include flexAlign(space-between);
  padding: 10px 28px 10px 29px;
  @extend .button;
  margin-left: auto;
  margin-right: auto;
}

.button__icon {
  fill: $first-btn-color;
}

.button__modal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  @extend .button;
}
