body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: $first-text-color;
  background-color: var(--white-color);
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}
