@mixin font($fz, $fw, $lh, $ls) {
  font-size: $fz;
  font-weight: $fw;
  line-height: ($lh / $fz);
  letter-spacing: $ls;
}

@mixin flexAlign($justify) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

@mixin flexWrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin media($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin retina2x {
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    @content;
  }
}
