$white-color: #ffffff;
$first-background-color: #f5f4fa;
$second-background-color: #2f303a;
$nav-text-color: #212121;
$header-contact-color: #757575;
$accent-color: #2196f3;
$first-btn-color: #ffffff;
$second-btn-color: #212121;
$hero-btn-hover-color: #188ce8;
$hero-color: #2f303a;
$first-text-color: #212121;
$second-text-color: #757575;
$header-studio-color: #000000;
$footer-studio-color: #ffffff;
$main-icon-color: #afb1b8;
$timing: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
